/*
*
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*
*/

/* =Reset
----------------------------------------------- */
//@import "reset";

/* =Twitter Bootstrap
----------------------------------------------- */
@import "bootstrap.min";
@import "bootstrap-glyphicons";

/* =Global
----------------------------------------------- */

//SASS variables

//Styles
body {
	//account for nav bar fixed to top w/ 70px padding top
	padding: 70px 1.5%;
}

.update-url {
	max-width: 200px;
	display: inline;
	.form-group {
		display: inline;
		input {
			max-width: 300px;
			margin-top: 7px;
			&#interval {
				max-width: 70px;
			}
		}
	}
}

.data {
	display: none;
}

.data-format {
	display: block;
}

canvas {
	margin: 0 auto;
}

/* =Media Queries / Responsive Styles Imports
----------------------------------------------- */
@import "desktop";
@import "tablet";
@import "mobile";
@import "device-specific";
