/*
*
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*
*/

/* =Reset
----------------------------------------------- */
//@import "reset";

/* =Twitter Bootstrap
----------------------------------------------- */
@import "bootstrap.min";
@import "bootstrap-glyphicons";

/* =Global
----------------------------------------------- */

//SASS variables

//Styles
body {
	//account for nav bar fixed to top
	padding-top: 70px;
}

.update-url {
	max-width: 200px;
	display: inline;
	.form-group {
		display: inline;
		input {
			max-width: 300px;
			margin-top: 7px;
			&#interval {
				max-width: 70px;
			}
		}
	}
}

.data {
	display: none;
}

.info {
//	display: none;
}

.alert {
	display: none;
}

select.data-format {
	max-width: 100px;
}

//
dialog {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}


/* =Media Queries / Responsive Styles Imports
----------------------------------------------- */
@import "desktop";
@import "tablet";
@import "mobile";
@import "device-specific";
